*.o
*.so
*.a
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
*.obj
*.DxLog
*.sbr
*.exe
*.tlog
Thumbs.db
*.idb
*.pdb
*.bsc
*.pdb
*.sdf
*.opensdf
*.pyc
*.d
*.elf
*.bin
*.lst
*.*~
*.map
*.hex
.cproject
.project
.vscode
*.vc.*
Build/
out/
mbed-os/
CMakeFiles/
CMakeCache.txt
files.cmake
cmake_install.cmake
Test/RTOS_tests/*
Workspace/VS2013/PAL/PAL.vcxproj.filters
Workspace/VS2013/PAL/PAL.vcxproj
Workspace/VS2013/PAL/PAL.sln
.vscode/*
Default/
.settings/
build/
.settings/language.settings.xml
.idea/*
Debug/
Test/Projects/*
build/
.yotta.json
yotta_modules/
yotta_targets/
*.swp
